/* --- COMMON STYLE --- */
/* reset */
p,
h1,
h3 {
  margin: 0;
  padding: 0;
}
/* wariables */
:root {
  --color: #666d89;
  --bg-header: #2d303a;
  --bg-border: #323746;
  --bg-slider: #f06c64;
  --section-border: 6px;
}

html,
body {
  font-family: 'LatoLatinWeb', sans-serif;
  color: var(--color);
  font-size: 18px;
}
.wrapper {
  /* width: 1020px; */
  width: 940px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 40px;
  padding-right: 40px;
}
p {
  font-family: 'LatoLatinWebLight';
  line-height: 30px;
}

/* --- HEADER STYLE --- */
.header {
  height: 89px;
  box-sizing: content-box;
  background-color: var(--bg-header);
  border-bottom: var(--section-border) solid var(--bg-border);
  display: flex;
}
.header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 26px;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 4px;
}
.logo a {
  display: block;
  color: #ffffff;
}
.logo_text,
.logo_sign {
  display: inline-block;
}
.logo_text {
  letter-spacing: -1px;
}
.logo_sign {
  color: var(--bg-slider);
}
/* navigation */
.nav {
  display: flex;
  justify-content: space-between;
  margin-top: 11px;
}
.nav_item {
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  margin-left: 25px;
  transition: all 0.3s ease-out;
  cursor: pointer;
}
.nav_item::after {
  content: '·';
  position: relative;
  right: -12px;
  color: #494e62;
}
.nav_item:last-child::after {
  display: none;
}
.nav_item:hover {
  color: var(--bg-slider);
  transition: all 0.3s ease-out;
}
.nav_item.active {
  color: var(--bg-slider);
}

/* --- HERO == SLIDER STYLE --- */
.hero {
  background-color: var(--bg-slider);
  height: 594px;
  border-bottom: var(--section-border) solid #ea676b;
}
.hero .wrapper {
  height: 100%;
}
.slider {
  display: flex;
  align-items: center;
  height: 100%;
}
.slider_content {
  width: 100%;
}
.slider_nav {
  cursor: pointer;
  width: 60px;
}
.slider_nav .arrow {
  cursor: pointer;
}
.slider_nav .arrow svg {
  fill: #ca4549;
  transition: all 0.2s ease-in;
}
.slider_nav .arrow svg:hover {
  transition: all 0.3s ease-in;
  transform: scaleX(1.2);
  filter: saturate(1.2);
}
.arrow_left {
  padding-left: 2px;
}
.arrow_right {
  transform: rotate(180deg);
  margin-top: -9px;
}

.slider_content {
  display: flex;
  justify-content: space-between;
}

.slider_content-b {
  position: relative;
  right: 84px;
  bottom: 45px;
}

.picture-a .shadow-a,
.picture-b .shadow-b {
  opacity: 15%;
}

.slider_content .picture-a {
  position: relative;
  bottom: 244px;
  left: 19px;
}

.picture-a .picture_layer,
.picture-b .picture_layer {
  position: absolute;
}
.picture-a .picture_layer {
  top: 0;
}
.picture-a .screen-a {
  top: 62px;
  left: 11px;
}

.slider_content .picture-b {
  position: relative;
  bottom: 200px;
}

.picture-b .case-b {
  transform: rotateZ(90deg);
  right: 80px;
}
.picture-b .screen-b {
  right: 21px;
  top: 133px;
}

.picture-b .shadow-b {
  transform: scale(-1, 1) rotateZ(90deg);
  right: 55px;
}

/* --- OUR SERVICES STYLE --- */
.services {
  padding-top: 63px;
  padding-bottom: 60px;
  background-color: #f2f2f2;
  border-bottom: var(--section-border) solid #fff;
}
.services h1 {
  font-family: 'LatoLatinWebBlack';
  font-size: 30px;
  margin-bottom: 18px;
  text-transform: initial;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: minmax(auto, 90px);
  column-gap: 20px;
  row-gap: 33px;
}
.service-all {
  margin-top: 45px;
}
.service {
  display: flex;
}
.service_content h3 {
  font-size: 1rem;
  line-height: 1rem;
  margin-bottom: 8px;
}
.service_content p {
  max-height: 60px;
  font-size: 12px;
  line-height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.service_icon {
  margin-right: 22px;
}
.icon_circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  border: 2px solid var(--color);
  border-radius: 100%;
}
.icon {
  position: absolute;
  margin-left: 1px;
}
.icon-svg {
  fill: var(--color);
}
